# pycache
*__pycache__

# Tox related
zippyshare_downloader.egg-info
.tox

# vscode configurations
.vscode

# Internal test related
test.py
test-compatibility.py
test-links.txt

# Docs
docs/_build

# PyInstaller files
build/
dist/
*.spec